[submodule "ldapauthenticator"]
	path = ldapauthenticator
	url = ssh://github.com/wakonp/ldapauthenticator
[submodule "SwarmSpawner"]
	path = SwarmSpawner
	url = ssh://github.com/wakonp/SwarmSpawner
[submodule "docker-stacks"]
	path = docker-stacks
	url = ssh://github.com/wakonp/docker-stacks
[submodule "dockerized_nfs_server"]
	path = dockerized_nfs_server
	url = ssh://github.com/wakonp/dockerized_nfs_server
